@model HealthCare.ViewModel.MedicineViewModel
@{

    ViewBag.Title = "MedicineSearch";
    Layout = "~/Views/Home/MedicineSearch.cshtml";

}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/style.css" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<style type="text/css">
            @@media only screen and (min-width: 300px) {
                table, th, td {
                    border: 1px solid black;
                    text-align: center;
                }
                th {
                    height: 50px;
                    background-color: darkgray;
                    color: white;
                    font-size: 14px;
                    white-space: nowrap;
                }
                tr {
                    height: 30px;
                }
                    tr:nth-child(even) {
                        background-color: #f2f4f5;
                    }
                td {
                    font-size: 12px;
                    white-space: nowrap;
                }
            }
        </style>*@
</head>
<body>
    <div class="container">
        <h2 style="text-align: center;font-family: fangsong;margin-bottom: 5%;">Search The Medicines</h2>

        @if (Model != null && Model.MedicineSearch.Count > 0)
        {

            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: center;">Sr No.</th>
                        <th style="text-align: center;">Medicine Name</th>
                        <th style="text-align: center;">Medicine Availability</th>
                        <th style="text-align: center;">Hospital Name</th>
                        <th style="text-align: center;">Cost</th>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < Model.MedicineSearch.Count; i++)
                    {
                        <tr>
                            <td style="text-align: center;">@(i + 1)</td>
                            <td style="text-align: center;">@Model.Medicine_Name[i].pharmacyName</td>
                            <td style="text-align: center;">@Model.Medicine_Name[i].pharmacyAddress</td>
                            <td style="text-align: center;">@Model.Medicine_Name[i].pharmacyContactNo</td>
                            <td style="text-align: center;">@Model.Medicine_Name[i].MedicineName</td>
                            <td style="text-align: center;">@Model.Medicine_Name[i].MedicineAvailability</td>
                        </tr>

                    }
                </tbody>
            </table>


        }
    </div>

</body>
</html>
