@model HealthCare.ViewModel.MedicineViewModel
@{

    ViewBag.Title = "Medicine Search";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    @*<style type="text/css">
            @@media only screen and (min-width: 300px) {
                table, th, td {
                    border: 1px solid black;
                    text-align: center;
                }

                th {
                    height: 50px;
                    background-color: darkgray;
                    color: white;
                    font-size: 14px;
                    white-space: nowrap;
                }

                tr {
                    height: 30px;
                }

                    tr:nth-child(even) {
                        background-color: #f2f4f5;
                    }

                td {
                    font-size: 12px;
                    white-space: nowrap;
                }
            }
        </style>*@
</head>
<body>
    <div class="container">
        
        <div class="header">

            <div class="row" style="margin-right: 70%;">
                <div class="col-md-8">
                    <section>
                        <form method="post" role="form" class="form-horizontal" style="width: 365%;">
                            @Html.AntiForgeryToken()

                            <h2 style="text-align: center;font-family: fangsong;margin-bottom: 5%;">Search The Medicines</h2>
                            <hr />

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(m => m.Medicine_Name, new { @class = "col-md-4 control-label" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.Medicine_Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Medicine_Name, "", new { @class = "text-danger" })
                                </div>
                               
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-10">
                                    <button asp-page-handler="Detail" class="btn btn-default">Search</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>

        </div>

        @if (Model != null && Model.Medicinelist.Count > 0)
        {

            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: center;">Sr No.</th>
                        <th style="text-align: center;">Medicine Name</th>
                        <th style="text-align: center;">Medicine Availability</th>
                        <th style="text-align: center;">Hospital Name</th>
                        <th style="text-align: center;">pharmacyAddress</th>
                        <th style="text-align: center;">HospitalID</th>
                        <th style="text-align: center;">pharmacyContactNo</th>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < Model.Medicinelist.Count; i++)
                    {
                        <tr>
                            <td style="text-align: center;">@(i + 1)</td>
                            <td style="text-align: center;">@Model.Medicinelist[i].Medicine_Name</td>
                            <td style="text-align: center;">@Model.Medicinelist[i].Medicine_Availability</td>
                            <td style="text-align: center;">@Model.Medicinelist[i].HospitalName</td>
                            <td style="text-align: center;">@Model.Medicinelist[i].pharmacyAddress</td>
                            <td style="text-align: center;">@Model.Medicinelist[i].HospitalID</td>
                            <td style="text-align: center;">@Model.Medicinelist[i].pharmacyContactNo</td>
                        </tr>

                    }
                </tbody>
            </table>


        }
    </div>

</body>
</html>
