@model HealthCare.Models.TblBloodDonationDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Blood Donation Details</h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HospitalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HospitalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodGroupDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodGroupDetails)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BloodDonationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
