@model IEnumerable<HealthCare.Models.TblBloodDonationDetail>

@{
    ViewData["Title"] = "Blood Group Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Blood Group Details</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HospitalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodGroupDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodGroupDetails)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BloodDonationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BloodDonationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BloodDonationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
